/*************************rules***************************/
.hide {
  display: none;
}




/*************************content***************************/
#qForm {
  background: none repeat scroll 0 0 #A0522D;
  color: #FFFFFF;
  padding: 10%;
}

#results {
  background: none repeat scroll 0 0 #A0522D;
  color: #FFFFFF;
  display: none;
  padding: 10%;
}



/*************************form elements***************************/
input[type="radio"] {
  margin: 2% 1% 1% 0;
}

input[type="submit"] {
  background: none repeat scroll 0 0 #F5DEB3;
  border: medium none;
  color: #000000;
  margin: 1% 0;
  outline: medium none;
  padding: 0.5%;
  text-transform: uppercase;
}